version: '3.8'
x-logging:
  &default-logging
  driver: "json-file"
  options:
    max-size: "10m"
    max-file: "3"

services:
  api:
    image: bedel1994dev/hellopay-api:${VERSION}-${ENVIRONMENT}
    mem_limit: 10g
    cpu_quota: 80000 
    cpu_period: 500000  
    restart: always
    build:
      context: ./
      dockerfile: Dockerfile
    environment:
      - NODE_ENV={{NODE_ENV}}
      - MYSQL_HOST=${MYSQL_HOST}
      - MYSQL_PORT=3306
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DB=${MYSQL_DB}
      - JWT_SECRET=uLVJX2ytIiU3FPV7FXa+okVAi1XWnim7d2CCU1h/e1c=
    ports:
      - "4000:4000"
    volumes:
      - images_data:/app/uploads
    logging: *default-logging

volumes:
  images_data:
